header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center; 
}

.logo {
    width: 180px;                
    height: 40px;                
    margin-left: 20px;
    background-image: url('../images/download.jpg'); 
    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center; 
}
