.filters {
    background-color: white;        
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;      
    align-items: center;            
    padding-right: 30px;            
    box-sizing: border-box;         
}

.filters button {
    background-color: #FF5A5F;      
    color: #FFFFFF;                  
    font-size: 18px;
    height: 48px;
    width: 120px;                    
    min-width: 100px;                
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters button:hover {
    opacity: 0.9;                    
}
