.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 30px; 
    box-sizing: border-box;
}

.locations, .amenities {
    height: 100%;              
    width: 25%;                
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    box-sizing: border-box;
}

.locations {
    border-right: 1px solid #DDDDDD;  
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin: 0;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.filters button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 120px;           
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;       
}

.filters button:hover {
    opacity: 0.9;
}
