.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    margin: 0;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    color: #484848;
}

.filters button {
    margin-left: auto;
    margin-right: 30px;

    background-color: #FF5A5F;
    color: #FFFFFF;
    font-size: 18px;
    height: 48px;
    width: 120px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters button:hover {
    opacity: 0.9;
}

.popover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    list-style: none;
    padding: 10px;
    box-sizing: border-box;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover h2 {
    font-size: 16px;
    margin: 5px 0;
}

.popover ul {
    list-style: none;
    padding-left: 15px;
}

.popover li {
    margin: 5px 0;
}
