.places {
    width: 100%;
}

.places h1 {
    font-size: 30px;
    margin: 20px 0 10px 0;
    text-align: left;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;

    border: 1px solid #FF5A5F;
    border-radius: 4px;

    display: inline-block;
    vertical-align: top;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}
